<GeneralContainer>
  <div class="product item-detail-page">
    <Product::Image />
    <Product::Details />
  </div>
  <h5 class="mt-5">Features</h5>
  <ul>
    <li>Lorem ipsum dolor it nesciunt a?</li>
    <li>Lorem ipsum doipsum dolor it nesciunlor it nesciunt a?</li>
    <li>Lorem ipsum dolor itipsum dolor it nesciunipsum dolor it nesciun nesciunt a?</li>
    <li>Lorem ipsum dolor it nesciunipsum dolor it nesciunipsum dolor it nesciunt a?</li>
    <li>Lorem ipsum dolor it nesciunt a?</li>

  </ul>
</GeneralContainer>